<div class="data-conatiner">

    <h2>Quién soy</h2>

    <div class="cuerpo-container">

        <div class="student-data">
            <div class="avatar-container">
                <img [src]="student()?.avatar" [alt]="student()?.username" width="100" />
                <span>ID: {{ student()?.id }}</span>
            </div>
            <div class="info-container">
                <p><b>Nombre:</b> {{ student()?.nombre }}</p>
                <p><b>Username:</b> {{ student()?.username }}</p>
                <p><b>Ubicación:</b> {{ student()?.ubicacion }}</p>
            </div>
        </div>

        <div class="juego-propio-container">
            <h3>Juego propio: Nanograma</h3>
            <p>Los nonogramas son rompecabezas donde tenés que pintar casillas en una grilla para revelar un dibujo.</p>
            <h4>REGLAS BÁSICAS:</h4>
            <p>Los números al costado de cada fila y columna indican grupos de casillas pintadas.
            Cada número representa cuántas casillas seguidas hay que pintar.<br>
            Si hay varios números, debe haber al menos una casilla vacía entre cada grupo.<br>
            Usando las pistas de filas y columnas, completás el dibujo correctamente.<br></p>
        </div>

    </div>

</div>