<div>
    <aside>
        <div>
            <h2>Sala de Juegos</h2>
        </div>
        <nav >
            <ul>
                <li><a routerLink="/home" routerLinkActive="active">Inicio</a></li>
                <li><a routerLink="/about" routerLinkActive="active">Quien soy</a></li>
                <li><a routerLink="/login" routerLinkActive="active">Iniciar sesión</a></li>
                <li><a routerLink="/signup" routerLinkActive="active">Registrarse</a></li>
            </ul>
        </nav>
    </aside>
    <main>
        <router-outlet></router-outlet>
    </main>
</div>