<main>

    @if (auth.isAuthenticated()) {
        <div class="user-box">
            <div class="user-name">
                <img src="assets/userIcon.png" alt="icon">
                <span >{{auth.userEmail() | userName}}</span>
            </div>
            
            <button (click)="auth.logout()">Cerrar Sesion</button>
        </div>
    }

    <h2>Juegos</h2>

    <div class="contenedor-juegos">

        <div class="contenedor-link">
            <a routerLink="/game/ahorcado" routerLinkActive="active">
                <div class="juego" id="ahorcado">
                    <img src="assets/ahorcado/screenshot.png" alt="Ahorcado">
                    <span>Ahorcado</span>
                </div>
            </a>
        </div>

        <div class="contenedor-link">
            <a routerLink="/game/mayormenor" routerLinkActive="active">
                <div class="juego" id="Mayormenor">
                        <img src="assets/cartas/screenshot.png" alt="Mayormenor">
                        <span>Mayor o menor</span>
                </div>
            </a>
        </div>
        
        <div class="contenedor-link">
            <a routerLink="/game/preguntados" routerLinkActive="active">
                <div class="juego" id="Preguntados">
                        <img src="assets/preguntados/screenshot.png" alt="Preguntados">
                        <span>Preguntados</span>
                </div>
            </a>
        </div>

        <div class="contenedor-link">
            <a routerLink="/game/nanograma" routerLinkActive="active">
                <div class="juego" id="nanograma">
                        <img src="assets/nanograma/screenshot.png" alt="Nanograma">
                        <span>Nanograma</span>
                </div>
            </a>
        </div>

    </div>

</main>