main{
    margin: 0 auto;
    font-family: "Montserrat", sans-serif;
}

h2{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 35px;
}

.table-container{
    width: 700px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    padding: 5px;
    margin: 30px auto;
}

.game-table{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 5px;
    width: 320px;

}

.border-table table{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    
}

.border-table{
    width: 100%;
    border: 2px solid;
    border-radius: 10px;
    padding: 10px;
    max-height: 200px;
    overflow: hidden;

}

.scroll{
    max-height: 200px;
    width: 100%;
    padding: 5px 10px;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
}

.border-ahorcado{
    border-color: #1EBC10;
    background-color: #1EBC1010;
}
.border-ahorcado tr{
    border-bottom: 1px dashed #1EBC10;
}

.border-mayormenor{
    border-color: #fc3130;
    background-color: #fc313010;
}
.border-mayormenor tr{
    border-bottom: 1px dashed #fc3130;
}

.border-preguntados{
    border-color: #314ed0;
    background-color: #314ed010;
}
.border-preguntados tr{
    border-bottom: 1px dashed #314ed0;
}

.border-nanograma{
    border-color: #fbc42c;
    background-color: #fbc42c10;
}
.border-nanograma tr{
    border-bottom: 1px dashed #fbc42c;
}