
<h2>Mayor o menor</h2>
@if(!juegoIniciado()){
    <div class="pantalla-inicio">

      <img
        src="assets/cartas/red_back.png"
        class="carta">

      <button (click)="iniciarJuego()">
        Iniciar Juego
      </button>

    </div>
}@else {
    <div class="contenedor-juego">

        <h2>Puntos: {{ puntos }}</h2>

        <img src="{{cartaActual.imagen}}" class="carta" alt="{{cartaActual.valor}}{{cartaActual.palo}}">
        <img src="assets/cartas/red_back.png" class="carta" alt="back-card">

        <div class="botones">

            <button (click)="adivinar('mayor')" [disabled]="juegoFinalizado()">
            Mayor
            </button>

            <button (click)="adivinar('menor')" [disabled]="juegoFinalizado()">
            Menor
            </button>

            @if(juegoFinalizado()){
                <button (click)="iniciarJuego()">
                    Reiniciar
                </button>

                <button (click)="juegoIniciado.set(false)">
                    Volver
                </button>
            }


        </div>
    </div>
}