<div class="chat-container">
  <div class="user-name">
    <h2>{{userName()}}</h2>
  </div>

  <div class="messages-list">
    @for (msg of chatService.mensajes(); track msg.id) {
      <div class="message-item">
        <span class="user-tag" [appMensajePropio]="msg.user_name" [usuarioActivo]="userName()">{{ msg.user_name }} </span>
        <span class="msg-time">[{{ msg.created_at | hora }}]: </span>
        <span class="content">{{ msg.contenido }}</span>
      </div>
    }
  </div>

  <div class="input-area">
    <input [(ngModel)]="newMessage" (keyup.enter)="enviar()" placeholder="Escribe un mensaje..." />
    <button (click)="enviar()" [disabled]="!userName()">Enviar</button>
  </div>
</div>