.signup-form-input{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: -15px;
}

.signup-form-input .auth-form-box{
    margin-bottom: 20px;
}

.signup-form-input .auth-info{
    justify-self: flex-start;
    align-self: flex-start;

}

@media (max-width: 550px){
    .signup-form-input{
        flex-direction: column;
        gap: 0px;
    }

    .signup-form-input .auth-info{
        height: inherit;
    }
}