<div class="auth-box">
    
    <div class="auth-title"><h2>Registrarse</h2></div>

    <form (ngSubmit)="onSubmit()" class="auth-form">

        @if(error()){
            <div class="form-alert"><span>{{ error() }}</span></div>
        }
        @if(message()){
            <div class="form-alert"><span>{{ message() }}</span></div>
        }

        <div class="auth-form-box">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" placeholder="Nombre" [(ngModel)]="nombre" name="nombre" required pattern="[A-Za-z]+" #nombreField = "ngModel">
            @if (nombreField.invalid && nombreField.touched){
                <div class="form-alert"><span> Nombre obligatorio</span></div>
            }
        </div>
        <div class="auth-form-box">
            <label for="apellido">Apellido:</label>
            <input type="text" id="apellido" placeholder="Apellido" [(ngModel)]="apellido" name="apellido" required pattern="[A-Za-z]+" #apellidoField = "ngModel">
            @if (apellidoField.invalid && apellidoField.touched){
                <div class="form-alert"><span> Apellido obligatorio</span></div>
            }
        </div>
        <div class="auth-form-box">
            <label for="edad">Edad:</label>
            <input type="number" id="edad" placeholder="Edad" [(ngModel)]="edad" name="edad" required step="1" min="1" #edadField = "ngModel">
            @if (edadField.invalid && edadField.touched){
                <div class="form-alert"><span> Edad obligatoria</span></div>
            }
        </div>
        <div class="auth-form-box">
            <label for="email">Email:</label>
            <input type="text" id="email" placeholder="Email" [(ngModel)]="email" name="email" required email #emailField = "ngModel">
            @if (emailField.invalid && emailField.touched){
                <div class="form-alert"><span> Correo Invalido</span></div>
            }
        </div>
        <div class="auth-form-box">
            <label for="password">Password:</label>
            <input type="password" id="password" placeholder="Password" [(ngModel)]="password" name="password" required minlength="6" #passField = "ngModel">
            @if (passField.invalid && passField.touched){
                <div class="form-alert"><span> La contraseña debe tener al menos 6 caracteres</span></div>
            }
        </div>

        <button class="form-button" type="submit" [disabled]="loading()">
            @if(loading()){
                Cargando...
            }@else{
                Registrarse
            }
        </button>
    </form>
</div>